.card{
    height: 25rem;
    width: 20rem;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
}

.card-image{
    height: 15rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    overflow: hidden;
}

.card-timestamp{
    font-size: 0.6rem;
    color: grey;
}

.card-title{
    font-size: 1.5rem;
    padding: 0rem 0.5rem 0.25rem 0.5rem;
}

.card-description{
    font-size: 0.9rem;
    padding: 0.5rem 2rem 2rem 2rem;
}